<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

     <div class="container">
      
      {{ content }}

    </div>

    {% include footer.html %}

    <script type="text/javascript" src="assets/components/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

        $('.green').addClass('sd0');
        $('.red').addClass('sd05');
        $('.blue').addClass('sd1');
        $('.yellow').addClass('sd15');


        $('[data-toggle]').on('click', function() {
            var toggle;
            toggle = $(this).addClass('active').attr('data-toggle');
            $(this).siblings('[data-toggle]').removeClass('active');
            return $('.surveys').removeClass('grid list').addClass(toggle);
          });
      });

    </script>
    </body>
</html>